
.radio-btn {
  margin-bottom: 1.5rem!important;
}
.solar-text {
  margin: inherit;
}
.title {
  color: #353535;
  margin-bottom: 2rem!important;
  font-size: 1.5rem;
  justify-content: center;
}
 .solar-info{
   height: 73px;
   background-color: #efefef;
   width: 320px;
   border: 1px solid#d5d5d5;
   border-radius: 4px;
   position: relative;
   margin-top: 1.3rem;
 }
 h3 {
   display: block;
   //margin-block-start: 1rem;
   //margin-block-end: 1rem;
   //margin-inline-end: 0;
   //margin-inline-start: 1rem;
   font-size: 18px;

 }
.solar-info.bottom:after {
  top: -4px;
  border-left: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}
.solar-info.bottom:after , .solar-info.top:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translate(-50%);
  background-color: #efefef;
}

.continue-btn {

  width: 160px;
  background-color: #007d32;
  color: #fff;

}
.side-radio-btn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.progressBar{
  position: relative;

}

.percentageValue {
  left: 0;
  top: 45%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 960px) {
.solar-info , .side-radio{
  display: none;
}
  .radio-btn{
display: none;
  }
  .side-radio-btn {
    display: none;

  }

}

.mobile_btn{
  display: none;
}
.season-carousel {
  display: none;
}
@media only screen and (max-width: 960px) {
  .mobile_btn {
    display: block;
  }
  .title {
    font-size: 1rem;
  }
  .season-carousel {
    display: block;
  }
}
@media only screen and (max-width: 766px) {
  .continue-btn{
    display: none;
  }

}

@media only screen and (min-width: 766px) {
  footer {
    display: none;
  }


}
select {
  width: 100%;
  height: 36px;
  border-radius: 4px;
}
option {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  border-radius: 4px;
}

.independence {
  margin-bottom: 4rem;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.quotation {
  background-color: #007d32;
  height: 45px;
  cursor: pointer;
  letter-spacing: .75px;
}
b {
  color: #005622;
}

.pre  ,.next {
  height: 20px;
  width: 20px;
}
.prenext {
  background-color: #ffffff;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url('/src/assets/left.png');
}


::ng-deep .carousel-control-next-icon{
  font-weight: 900;
  background-image: url('/src/assets/right.png');
}
::ng-deep .carousel-inner {
  text-align: center;
}
