.head {
  justify-content: space-between;
}
select option:first-child{
  color: #C3C6C6;
}
.step-heading {
  font-family: 'poppins';
}
label {
  font-family: 'poppins';
}
.form-container {
  margin: 0 10px;
}
