.animated-geo-image{
  max-width: 180px;
  border-radius: 5px;
}
#usablearea{
  display: none;
}

.head {
  justify-content: space-between;
}
//::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//  color:    #C3C6C6;
//}
//:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//  color:    #C3C6C6;
//  opacity:  1;
//}
//::-moz-placeholder { /* Mozilla Firefox 19+ */
//  color:    #C3C6C6;
//  opacity:  1;
//}
//:-ms-input-placeholder { /* Internet Explorer 10-11 */
//  color:    #C3C6C6;
//}
//::-ms-input-placeholder { /* Microsoft Edge */
//  color:    #C3C6C6;
//}
//
//::placeholder { /* Most modern browsers support this now. */
//  color:    #C3C6C6;
//}
.step-heading {
  font-family: 'poppins';
}
